.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  width: 100%;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menuItem {
  cursor: pointer;
}